/* Estilo da seção de contato */
#contato {
    position: relative;
    background-image: url(/Turma_2_Localiza_2024_Portfolio/assets/images/fundocontato.png);
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-size: cover; /* A imagem cobre toda a área da seção */
    background-position: center; /* Centraliza a imagem */
    opacity: 0.9; /* Ajuste da opacidade da imagem */
    color: var(--corBranco);
    text-align: center; /* Centraliza o texto */
    padding-top: 80px; /* Ajuste do padding superior */
    padding-bottom: 80px; /* Ajuste do padding inferior */
    border-radius: 10px;
    z-index: 1;
    width: 100vw;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    overflow: hidden; /* Garante que o pseudo-elemento não ultrapasse os limites da seção */
}



#contato::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0 0;
    z-index: -1;
}





/* Estilo do título da seção */
#contato h1 {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-size: var(--fonteTitulo);
    color: var(--corBranco);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    position: relative;
    display: inline-block;
}
#contato h1::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    /* Ajustado para alinhar ao início do h1 */
    background-color: #F47C7C;
    transition: width 0.3s ease, left 0.3s ease;
}

#contato h1:hover::before {
    width: 100%;
}

/* Estilo dos parágrafos */
#contato p {
    font-family: 'Crimson Text', serif;
    font-size: 25px; /* Reduz o tamanho da fonte */
    line-height: 1.5; /* Ajusta a altura da linha */
    margin-bottom: 30px;
    width: 80%; /* Ajusta a largura do parágrafo */
    margin-left: auto;
    margin-right: auto;
    color: var(--corBranco);
    text-align: center;
    margin-top: 30px; /* Ajuste da margem superior */
}

/* Estilo do parágrafo específico */
.lorem-text {
    font-family: 'Crimson Text', serif;
    font-size: var(--fonteTitulo);
    color: #f0f0f0;
}

/* Estilo dos links */
#contato a {
    display: inline-block;
    margin: 0 10px;
    color: var(--corBranco);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: color 0.3s ease;
}

#contato a::after {
    content: '';
    width: 0%;
    height: 4px;
    background-color: #6C63FF;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease-in-out;
}

#contato a:hover::after {
    width: 100%;
}

#contato a:hover {
    color: var(--corBranco);
    text-decoration: underline;
}

/* Estilo específico para o link do Instagram e LinkedIn */
.instagram-link,
.linkedin-link {
    color: #2C2A7F;
}

/* Centralizar os ícones de redes sociais */
#contato .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px; /* Ajuste da margem superior */
}

#contato .social-link {
    font-size: 25px;
    color: #2C2A7F;
    transition: color 0.3s ease;
}

#contato .social-link:hover {
    color: #4a1f3b;
}

/* Estilo do formulário */
#contato form {
    max-width: 600px; /* Ajuste da largura máxima */
    margin: 20px auto 40px auto;
    background-color: #ffffff;
    padding: 20px; /* Ajuste do padding */
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Estilo dos rótulos do formulário */
#contato form label {
    display: block;
    font-family: 'Crimson Text', serif;
    text-align: left;
    font-size: 22px; /* Ajuste do tamanho da fonte */
    margin-bottom: 8px; /* Ajuste da margem inferior */
    color: #333;
    font-weight: 500;
}

/* Estilo dos campos de entrada e textarea */
#contato form input[type="text"],
#contato form input[type="email"],
#contato form textarea {
    font-family: 'Crimson Text', serif;
    font-size: 16px; /* Ajuste do tamanho da fonte */
    width: 100%;
    padding: 12px; /* Ajuste do padding */
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px; /* Ajuste da margem inferior */
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito ao focar no campo de entrada */
#contato form input[type="text"]:focus,
#contato form input[type="email"]:focus,
#contato form textarea:focus {
    border-color: var(--corBranco);
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Efeito ao passar o mouse sobre o campo de entrada */
#contato form input[type="text"]:hover,
#contato form input[type="email"]:hover,
#contato form textarea:hover {
    border-color: #9B91D9;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

/* Centralizar apenas o botão de envio */
#contato form .btn {
    text-align: center;
}

/* Estilo do botão de envio */
#contato form input[type="submit"] {
    background-color: #9B91D9;
    color: #ffffff;
    border: 2px solid var(--corBranco);
    padding: 12px 24px; /* Ajuste do padding */
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
    font-weight: 600;
}

#contato form input[type="submit"]:hover {
    transform: scale(1.05);
    font-size: 1.1rem;
}

/* Estilos para os caracteres */
.caractere-maior,
.caractere-menor {
    color: #F4E1E1;
    font-weight: bold;
}

.caractere-maior {
    font-size: 2rem;
}

.caractere-menor {
    font-size: 1.5rem;
}
